*{
    margin: 0;
    padding: 0;
}
body{
    background-color: blue;
    color: white;
}
.cajita{
    width: 60%;
    height: 30px;
    border: 1px solid rgb(90, 138, 240);
    margin-top: 30px;
}